html, body { 
    height:100%;
}
html {
    display:table; width:100%;
}
body {
    display:table-cell; text-align:center; vertical-align:middle;
}

input {
    display: none;
}

img {
    width: 150px;
    height: 150px;
}

input[type=radio]:checked + img {
    border: solid 1px blue;
}