* {
    font-family: 'Courier New', Courier, monospace
}

html, body { 
    height:100%;
    background-image: url('https://freefrontend.com/assets/img/css-background-patterns/simple-pattern-with-css3.png');
}
#welcome {
    text-align: center;
}
#container{
    margin: auto;
    text-align:center;
    height: 80%;
    width: 50%; 
    overflow: scroll;
    background-color: white;
    border-radius: 40px;
}



ul {
    list-style-type: none;
}

input {
    display: none;
}

img {
    width: 150px;
    height: 150px;
    background-color: white;
}

input[type=radio]:checked + img {
    border: solid 1px blue;
}

#computer-choice-heading {
    visibility: hidden;
}

/* stretch goal */
#lizard-container, #spock-container {
    display: none;
}